:root{
    --main-color: #dfdfff;
    --secondary-color: azure;
}
html, body{
    min-height: 100vh;
    padding: 0px;
    margin: 0px;
}
@font-face {
    font-family: "lato";
    src: url("Lato/Lato-Regular.ttf");
}
@-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}
@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}


body{
    display: flex;
    font-family: 'lato', serif ;
}
.menu{
    width: 200px;
    background-color: var(--secondary-color);
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.projects{
    width: 100%;
}
.projectMenuHead{
    display: flex;
    flex-direction: column;

}
.newProjectButton{
    font-size: 2rem;
    padding: 1px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    margin-top: 20px;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    font-weight: bold;
    transition-timing-function: ease;
    transition: 0.5s;
}
.newProjectButton:hover{
    transform: scale(1.5);
    transition: all;
    transition-timing-function: ease;
    transition: 0.5s;
}
.menuProject{
    border-radius: 5px;
    padding: 10px 3px 1px 3px;
    cursor: pointer;
    font-size: 1.5rem;
}

.newProjectButton:hover, .menuProject:hover{
    background-color: var(--main-color)
}

.projectsTitle{
    font-size: 2rem;
    margin: 50px 0px 10px;
    font-weight: bold;

}
.content{
    background-color: var(--main-color);
    padding: 65px;
    width: 100%;
}
.contentTitle{
    font-size: 3rem;
    display: flex;
    margin-bottom: 1rem;
    overflow-wrap: break-word;
}
.contentProjectTitle{
    margin-left: 0.5rem;
}
/*Tasks*/
.contentTasks{
    margin-top: 5px;
}
.task{
    font-size: 1.5rem;
    border-radius: 5px;
    padding: 1px 3px 1px 3px;
    animation: fadeIn 1s;
}
.task:hover, .newTaskButton:hover{
    background-color: var(--secondary-color);
}
.taskHeader{
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    padding: 1px 3px 1px 3px;
}
.taskLeft{
    display: flex;
    align-items: center;
}
.taskButton{
    margin-right: 5px;
    border-radius: 20px;
    border: 0.5px solid black;
    height: 0.7rem;
    width: 0.7rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s;
}
.taskButton:hover{
    background-color: rgb(0, 0, 0);
    transform: scale(1.1);
}
.taskRight{
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.newTaskButton{
    display: flex;
    align-items: center;
    margin-top: 5px;
    border-radius: 5px;
    padding: 1px;
    cursor: pointer;
    font-size: 1rem;
}
.taskExpand{
    background-color: var(--secondary-color);
    display: none;
    border-radius: 0px 0px 5px 5px;
    padding: 5px;
    font-size: 1rem;
}
.taskExpandActive{
    display: flex;
    justify-content: space-between;
}
.projectExpand{
    background-color: var(--main-color);
    display: none;
    border-radius: 0px 0px 5px 5px;
    padding: 5px;
    font-size: 1rem;
}
.taskCompleted{
    text-decoration: line-through;
}
.trashIcon{
    height: 1rem;
    cursor: pointer;
}
.projectExpandActive{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contentPlus{
    margin-right: 5px;
    font-size: 0.8rem;
    padding: 0px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.5rem;
    height: 1.5rem;
    font-weight: bold;
}
.contentCompleted{
    border-top: 1px solid rgb(0 0 0 / 25%);
    margin-top: 50px;
    
}
.contentCompletedHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contentCompletedLeft{
    display: flex;
    padding: 5px;
    font-size: 0.85rem;
}

.contentCompletedNumber{
    margin-left: 5px;
}
.contentCompletedHeaderIcon{
    height: 20px;
    cursor: pointer;
    transition: ease-in 0.4s;
    padding: 5px;
}
.contentCompletedHeaderIcon.completedDropdownActive{
    transform: rotate(180deg);
}
.contentCompletedExpand{
    display: none;
    border-bottom: 1px solid rgb(0 0 0 / 25%);
}
.contentCompletedExpand.completedDropdownActive{
    display: block;
}
/*
Input Modal
*/
.inputScreenProject, .inputScreenTask{
    background-color: black;
    width: 100%;
    height: 100%;
    position: fixed;
    display: none;
    opacity: 30%;
}
.inputScreenProject.active, .inputScreenTask.active{
    display: block;
}

.inputFormProject, .inputFormTask{
    position: absolute;
    z-index: 1;
    transform: translate(-50%, -50%) scale(1, 0);
    height: 100px;
    width: 200px;
    top: 35%;
    left: 50%;
    background-color: var(--secondary-color);
    text-align: center;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: 0.2s ease-in-out;
    padding: 5px;
}
.inputFormTask{
    height: 200px;
}
.inputFormProject.active, .inputFormTask.active{
    transform: translate(-50%, -50%) scale(1) ;
    transition: 0.2s ease-in-out;
}
ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
}
li{
    display: flex;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 5px;
}
input{
    max-width: 150px;
    border: none;
    outline: none;
}
li>button{
    cursor: pointer;
    padding: 3px 5px 4px 5px;
}
li>button:hover {
    filter: brightness(90%);
}
.menuMobile{
    background-color: aliceblue;
}
.menuMobile{
    display: none;
}
.menuMobileDropdown{
    display: none;
}

/* mobile view*/

@media only screen and (max-width: 600px) {
    .menu{
        display: none;
    }
    body{
        display: flex;
        flex-direction: column;
    }
    .content{
        height: calc(100vh - 90px);
        padding: 20px;
        width: auto;
        display: flex;
    flex-direction: column;
    justify-content: space-between;
    }
    .menuMobile{
        display: flex;
        height: 50px;
        justify-content: flex-end;
        align-items: center;
        background-color: var(--main-color);
        
    }
    .projectMenuHead{
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .menuMobileActive{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        width: auto;
        padding: 20px;
        -webkit-animation: fadeIn 1s;
        animation: fadeIn 1s;
        z-index: 1;
        box-shadow: rgb(0 0 0 / 35%) 0px 1px 5px 0px;
    }
    .burgerMenu{
        margin-right: 10px;
        font-size: 2rem;
     
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      
        
    }
    .line1, .line2, .line3{
        margin-top: 5px;
        width: 1.5rem;
        height: 1px;
        background-color: black;
    }
    .line1, .line3{
        transition: all 0.3s ease;
    }
    .toggle .line1{
        transform: rotate(-45deg) translate(-4px,4.6px);
      }
      .toggle .line2{
        opacity: 0;
      }
      .toggle .line3{
        transform: rotate(45deg) translate(-4px,-4.6px);
      }
      
    .projectsTitle{
        margin: 0px 0px 10px;
    }
    .contentTitle{
        font-size: 2rem;
    }
    .newProjectButton{
        margin-top: 0px;
    }
    .taskRight{
        font-size: 0.8rem;
    }
    .contentCompletedHeaderIcon{
        transform: rotate(180deg);
    }
    .contentCompletedHeaderIcon.completedDropdownActive{
        transform: rotate(0deg);
    }
  }